.join {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        & {
            width: 354px;
            max-width: 354px;
            margin-bottom: 0;
            margin-right: var(--items-between);
        }
    }

    @media screen and (max-width: 1199px) {
        & {
            margin-bottom: calc(2 * var(--items-between));
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            margin-right: 86px;
        }
    }
}

.join__title {
    @extend %subtitle;
    margin-bottom: 20px;
    color: var(--menu-bck);
}