:root {
	--body-bck: #e5e5e5;
	--menu-bck: #ffffff;
	--accent-color: #2196f3;
	--logo-text-color: #000000;
	--primary-text-color: #212121;
	--primary-contact-color: #757575;
	--top-main-bck: #2f303a;
	--bottom-main-bck: #f5f4fa;
	--border-header-color: #ececec;
	--border-service-color: #eeeeee;
	--button-hover: #188ce8;
	--person-bck: #afb1b8;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--items-between: 30px;
	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}